<!-- incidencias/templates/lista-incidencias.html -->
{% extends "base.html" %}

{% block title %}Lista Incidencias{% endblock %}

{% block content %}
<h3>Lista de Incidencias</h3>
{% if incidencias %}
  <div class="accordion" id="incidencias" class="listaIncidencias">
    {% for incidencia in incidencias %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{incidencia.pk}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{incidencia.pk}}" aria-expanded="true" aria-controls="collapse{{incidencia.pk}}">
        <span class="numero">#{{incidencia.pk}}</span>
        <span class="data">{{incidencia.data}}</span>
        <span class="usuario">
        {% if incidencia.usuario %}
        {{incidencia.usuario.nome}} ({{incidencia.usuario.nivel}} {{incidencia.usuario.curso}})
        {% endif %}
        </span>
        <span class="equipo">{{incidencia.equipo.numeroDeSerie}}</span>
        <span class="seguimento">
        {% if incidencia.numServizoExterno %}
        <span class="badge bg-secondary">
          {{incidencia.tipoServizoExterno}}{{incidencia.numServizoExterno}}
        </span>
        {% endif %}
        </span>
        <span class="aberta">
          {% if incidencia.aberta %}
            <span class="badge rounded-pill bg-warning text-dark">ABERTA</span>
          {% else %}
            <span class="badge rounded-pill bg-success">PECHADA</span>
          {% endif %}
        </span>
        </button>
      </h2>
      <div id="collapse{{incidencia.pk}}" class="accordion-collapse collapse" aria-labelledby="heading{{incidencia.pk}}" data-bs-parent="#incidencias">
        <div class="accordion-body">
        {% for comentario in incidencia.comentarios %}
        <p>{{comentario.data}}</p>
        <p>{{comentario.desc}}</p>
        <hr/>
        {% endfor %}
        <a href="{% url 'vista-incidencia' pk=incidencia.pk %}">Ver Todos</a>
      </div>
      </div>
    </div>
    {% endfor%}
  </div>
{% else %}
<div>
  <em>Sen incidencias</em>
</div>
{% endif %}
<a href="{% url 'crear-incidencia' %}" class="btn btn-primary">Nova Incidencia</a>
{% endblock %}
