<!-- inventario/templates/vista-usuario.html -->
{% extends "base.html" %}

{% block title %}Lista Equipos{% endblock %}

{% block content %}

<section>
  <h3>Usuario <em>{{usuario.nome}} {{usuario.apelidos}}</em></h3>

  <dl>
   <dt>Nome</dt>
   <dd>{{usuario.nome}}</dd>

   <dt>Apelidos</dt>
   <dd>{{usuario.apelidos}}</dd>

   <dt>Curso</dt>
   <dd>{{usuario.nivel}} {{usuario.curso}}</dd>
  </dl>

  <div>
    <a href="{% url 'editar-usuario' pk=usuario.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar Usuario</a>
    <a href="{% url 'eliminar-usuario' pk=usuario.pk %}" class="btn btn-primary"><i class="fas fa-trash"></i> Eliminar Usuario</a>
    <a href="{% url 'baixa-usuario' pk=usuario.pk%}" class="btn btn-primary{% if usuario.nivel == 'eA' or usuario.nivel == 'eP' %} disabled{% endif %}">Dar de baixa</a>
  </div>
</section>

<section>
  <h3>Equipos</h3>
  {% if usuario.equipos %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Número de Serie</th>
          <th scope="col">Descrición</th>
          <th scope="col">Data Asignación</th>
          <th scope="col">Data Fin</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for equipo in usuario.equipos %}
          <tr>
            <th scope="row">
              <a href="{% url 'vista-equipo' pk=equipo.pk %}">{{equipo.pk}}</a>
            </th>
            <td>{{equipo.sn}}</td>
            <td>{% if equipo.info %}{{equipo.info}}{% endif %}</td>
            <td>{{equipo.data_ini}}</td>
            <td>{{equipo.data_fin}}</td>
            <td><a href="{% url 'terminar-asignacion' pk=equipo.pk_asignacion %}?usuario={{usuario.pk}}" class="btn btn-default{% if equipo.data_fin %} disabled{% endif %}"><i class="fas fa-times-circle"></i></a></td>
          </tr>
        {% endfor%}
        <tr>

        </tr>
      </tbody>
    </table>
  {% else %}
  <div>
    <em>Sen equipos</em>
  </div>
  {% endif%}
  <div>
    <a href="{% url 'asignar-equipo' %}?usuario={{usuario.pk}}" class="btn btn-primary">Asignar Equipo</a>
  </div>
</section>


<section>
  <h3>Incidencias</h3>
  {% if usuario.incidencias %}
    {% include "fragmento-lista-incidencias.html" with incidencias=usuario.incidencias %}
  {% else %}
    <div>
      <em>Sen incidencias</em>
    </div>
  {% endif%}
  <div>
    <a href="{% url 'crear-incidencia' %}?usuario={{usuario.pk}}" class="btn btn-primary">Nova Incidencia</a>
  </div>
</section>

{% endblock %}
